.title{
    font-size: 25px;
    color: black;
    font-family: Georgia;
}

.ol-dragbox {
        background-color: rgba(255,255,255,0.4);
        border-color: rgba(100,150,0,1);
}

#mapContainer {
    height: 85%;
}

.countryInformation{
    position:absolute;
}

.map {
    margin: auto;
    margin-top: 52px;
}

.panel-group {
    margin-top:50px;
}